[Log]
Output = File, Screen, Mail , SMS

[FileLog]
FileName = E:\GAME\Kiwa-tech\log\gate.log
MaxSize = 5120 K
LogLevel = Debug
Remark = 

[ScreenLog]
ListBoxName = LogListBox
MaxSize = 1024
LogLevel = Debug
Remark = 

[MailLog]
SMTPServer = 163.com
User = test
password = test
LogLevel = Debug
GroupSize = 128
Remark = 

[SMSLog]
MoblieNo = 15800888888
LogLevel = Fatal
GroupSize = 1
Remark = 

[WeChatLog]
Group = 
Account = 
LogLevel = Fatal